<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>log-in</title>
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>


<body>
                
        <p>
            <input type="text" class="user-name" value="<%= User.username %>" data-id="<%= User.id %>">
        </p>
        

   

   
</body>

<script>
    // Save task name
        // document.querySelector('.task-input').addEventListener('input', async (e) => {
        //     const taskId = e.target.dataset.id;   // get task id from data-id
        //     const newName = e.target.value;       // get the new task name

        //     try {
        //         const resp = await fetch(`/update-task`, {
        //         method: 'PUT',
        //         headers: {
        //             'Content-Type': 'application/json',
        //         },
        //         body: JSON.stringify({ name: newName, id: taskId }),
        //         });

        //         if (!resp.ok) {
        //         console.error('Error updating task:', await resp.text());
        //         }
        //     } catch (err) {
        //         console.error('Network error:', err);
        //     }
        //     });
        // });

        document.querySelector('.user-name').addEventListener('input', async (e) => {
            const userId = e.target.dataset.id;   // get task id from data-id
            const newName = e.target.value;       // get the new task name

            try {
                const resp = await fetch('/updateName', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ name: newName, id: userId }),
                });

                if (!resp.ok) {
                    console.error('Error updating task:', await resp.text());
                }
            } catch (err) {
                console.error('Network error:', err);
            }
        });



</script>

</html>